{% extends "base.html" %}

{% block content %}
<h1>Make Order</h1>
<div class="container">
    <form action="/orders/new" method="POST" class="make_order">
        <label for="customer">Step1. Choose a Customer</label>
        <select name="customer" class="custom-select">
            {% for customer in customers %}
            <option name="customer" value="{{customer.id}}">{{customer.name}}</option>
            {% endfor %}
        </select>
        <div class="items-container">
            <label for="product">Step2. Choose Products & Quantity</label>

            <div class="item">
                <select name="item_1" class="custom-select">
                    {% for product in products1 %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="quantity_1" placeholder="Enter Quantity">
            </div>
            <div class="item">
                <select name="item_2" class="custom-select">
                    {% for product in products2 %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="quantity_2" placeholder="Enter Quantity">
            </div>
            <div class="item">
                <select name="item_3" class="custom-select">
                    {% for product in products3 %}
                    <option value="{{product.id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="quantity_3" placeholder="Enter Quantity">
            </div>

        </div>
</div>
<input type="submit" value="Add New Order" class="button">
</form>
</div>
{% endblock %}