{% extends "base.html" %}

{% block content %}
<h1>Orders List</h1>

<table>
    <thead>
        <tr>
            <th>Order_ID</th>
            <th>Customer_Name</th>
            <th>Created</th>
            <th>Processed</th>
            <th>Option</th>

        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        {% set class_name = "pending" %}
        {% if order.processed %}
        {% set class_name = "processed" %}
        {% endif %}

        <tr class="{{ class_name }}">
            <td><a href="/orders/{{order.id}}">{{ order.id }}</a></td>
            <td>{{ order.customer.name }}</td>
            <td>{{ order.created }}</td>
            <td>{{ order.processed }}</td>
            <td><a href="/orders/{{order.id}}/delete" class="btn {{ class_name }}"
                    onclick="return confirm('Are you sure to delete?')">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}