{% extends "base.html" %}

{% block content %}
<h1>#{{order_id}} Order Details</h1>


<form action="/order/process/{{order_id}}" method="POST">
    <label for="product">Strategy</label>
    <select name="strategy" class="custom-select">
        <option value="adjust">adjust</option>
        <option value="reject">reject</option>
        <option value="ignore">ignore</option>
    </select>
    <input type="submit" value="Process">
</form>

<table>
    <thead>
        <tr>
            <th>Product_Name</th>
            <th>Price</th>
            <th>Quantity_ordered</th>
            <th>Available</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        {% if loop.index == 1 %}
        <p class="customer_name">Customer : {{order.order.customer.name}}<span> | Balance :
                ${{order.order.customer.balance |round(2, 'common') }}</span></p>
        {% endif %}
        <tr>
            <td>{{order.product.name}}</td>
            <td>{{order.product.price |round(2, 'common')}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.product.available}}</td>
            <td>{{(order.product.price * order.quantity) |round(2, 'common') }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tr>
        <td></td>
    </tr>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Estimated Total : </td>
            <td>${{ total|round(2, 'common') }}</td>
        </tr>
    </tfoot>

</table>
{% endblock %}